fastapi
uvicorn
python-multipart
torch
faiss-gpu
transformers
langchain
xformers
sentence_transformers
InstructorEmbedding
auto-gptq
chromadb
llama_index
gTTS==2.4.0
googletrans
sqlalchemy
faster-whisper
