fastapi==0.109.0
uvicorn==0.27.0
python-multipart==0.0.6
torch==2.1.2
faiss-gpu==1.7.2
transformers==4.37.0
langchain==0.1.2
xformers==0.0.23.post1
sentence-transformers==2.2.2
InstructorEmbedding==1.0.1
auto-gptq==0.6.0
chromadb==0.4.22
gTTS==2.4.0
googletrans==3.1.0a0
sqlalchemy
faster-whisper
google-generativeai==0.3.2
pytorch==2.0.1
